<div class="registration-container">
    <form method="POST" action="{{ url_for('auth_bp.register') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(size=128) }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(size=128) }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=128) }}
        </div>
        {{ form.submit }}
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li class="success-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
