{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic.min.css') }}">
{% endblock %}
<div class="form-container">
    <form class="ui form" method="POST" action="{{ url_for('auth_bp.register') }}">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.email.label }}
            {{ form.email(size=128) }}
        </div>
        <div class="field">
            {{ form.password.label }}
            {{ form.password(size=128) }}
        </div>
        <div class="field">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=128) }}
        </div>
        {{ form.submit(class_="ui button") }}
    </form>
    <div>
        By signing up you agree to the <a href="/legal/terms">Terms of
            Service</a> and <a href="/legal/privacy">Privacy Policy</a>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li class="success-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
